/* GamePrototype.module.css */
:root {
  --ship-border: 1px solid #ccc;
  /* overflow: hidden; */
}
.container {
  overflow: hidden;
  background-image: url("../../../assets/pictures/wavebackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: scale-down;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr repeat(2, 0.5fr) 0.3fr;
  grid-template-rows: 0.4fr repeat(2, 2fr) 1fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    /* "Header Header Header Header Header Header " */
    "LogoDiv LogoDiv LogoDiv LogoDiv LogoDiv LogoDiv "
    ". Grid . gameSettings gameSettings ."
    ". Grid . gameSettings gameSettings ."
    ". Ships . . . ."
    ". . . . . . ";
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
}
.Header {
  grid-area: Header;
  width: 100vw;
}
.LogoDiv {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  align-content: center;
  grid-area: LogoDiv;
  overflow: hidden; /* Verhindert, dass der Inhalt die Grenzen überschreitet */
  background-image: url("../../../assets/pictures/cof_logo_vert.png");
  background-color: rgba(43,48,53, 1);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  object-fit: scale-down;
  cursor: grab;
}
.backText {
  /* text-align: right */
  text-align: center;
  margin-left: 5vw;
}
.gameSettings {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  justify-items: center;
  align-items: center;
  grid-area: gameSettings;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
  grid-template-areas: "kiButtons" "next";
}
.next {
  grid-area: next;
  display: flex;
  align-self: center;
  align-content: center;
  justify-self: center;
  justify-items: stretch;
  min-height: 20%;
  min-width: 20%;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: 100px;
  font-weight: 700;
}
.kiButtons {
  grid-area: kiButtons;
  gap: 10% 0;
  display: grid;
  max-width: 100%;
  max-height: 100%;
  justify-items: stretch;
  align-items: center;
  grid-auto-flow: row;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "ki1" "ki2" "ki3";
}
.ki1 {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  justify-items: center;
  align-items: center;
  grid-area: ki1;
}
.ki2 {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  justify-items: center;
  align-items: center;
  grid-area: ki2;
}
.ki3 {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  justify-items: center;
  align-items: center;
  grid-area: ki3;
}

.Grid {
  grid-area: Grid;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  /* background-color: #f0f0f023; 
  border: 1px solid #000000;  */
}
.layoutGrind {
  width: 100%;
  /* height: 100%;  */
}
.Grid2 {
  background-color: #f0f0f023;
  border: 1px solid #000000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* .Grid2 {
  margin-bottom: 0%;
  grid-area: Grid;
  background-color: #f0f0f023;
  border: 1px solid #000000;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-self: center;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  flex-direction: column;
} */
.gridCell {
  background-color: #94949483;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  touch-action: none;
}
.gridCell2 {
  touch-action: none;
  background-color: #e0e0e000;
  border: 1px solid #ef2323;
  display: flex;
  scale: 20%;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%; /* Ensure the grid cells fill the available space */
  aspect-ratio: 1/1;
}
.Ships {
  display: grid;
  width: 100%;
  height: 50%;
  max-width: 100%;
  max-height: 100%;
  grid-template-columns: 2fr 2fr 3fr 3fr; /* muss so weil jedes schiff eine andere breite hat*/
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  justify-items: stretch;
  justify-self: center;
  align-self: center;
  grid-template-areas: "s m l xl";
  grid-area: Ships;
}

.rotateButtonW {
  position: absolute;
  /* width: 50%; Größe des runden Buttons */
  height: 100%; /* Größe des runden Buttons */
  top: 50%;
  left: 1vw;
  transform: translate(-50%, -50%);
  border-radius: 60%;
  background-image: url("../../../assets/pictures/Schiffe/icons/icon2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  z-index: 9999;
}
.rotateButtonH {
  position: absolute;
  width: 100%;
  /* height: 50%; Größe des runden Buttons */
  top: 2vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 60%;
  background-image: url("../../../assets/pictures/Schiffe/icons/icon2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  z-index: 9999;
}
.s,
.m,
.l,
.xl,
.backText {
  /* border: var(--ship-border); */
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  height: 100%;
  /* max-width: 100%; */
  /* max-height: 100%; */
  /* object-fit: scale-down; */
  color: #ffffff;
  -webkit-text-stroke-width: 2px; /* Breite des Umrisses */
  -webkit-text-stroke-color: rgb(0, 0, 0);
}
.s {
  grid-area: s;
}

.m {
  grid-area: m;
}

.l {
  grid-area: l;
}

.xl {
  grid-area: xl;
}
/* im feld */
.rotatedShip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.ship {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.rotatedPic {
  max-width: 100%;
  min-height: 100%;
  /* max-height: 100%; */
  /* object-fit: contain; */
}
.normalPic {
  min-width: 100%;
  max-height: 100%;
}
.normalPicMinePartner {
  min-width: 100%;
  max-height: 100%;
  color: #000;
}
/* für das draggen */
.normalPic2 {
  min-width: 100%;
  max-width: 100%;
  /* height: 100%; */
  /* min-height: 135px;
  max-height: 135px; */
}

.draggableItem {
  /* unten schiffe */
  background-color: #ffffff; /* Hintergrundfarbe für draggable Item */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: ; */
  border: 1px solid #000; /* Rahmen um draggable Item */
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: stretch;
  justify-content: center;
  cursor: move;
  touch-action: pan-x;
  -webkit-user-select: none;
  user-select: none;
}
.draggableItem,
.draggableItem img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}
.disabledItem {
  touch-action: none;
  /* schiffe disabled*/
  background-color: #4f4f4f; /* Hintergrundfarbe für draggable Item */
  border: 1px solid #000; /* Rahmen um draggable Item */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
}
@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr;
    grid-template-areas:
      "LogoDiv"
      "."
      "Grid"
      "."
      "Ships"
      "."
      "gameSettings";
    overflow-y: scroll;
  }

  /* .gameSettings {
    justify-self: center;
    width: auto;
    max-width: 300px;
    object-fit: scale-down;
    grid-template-rows: 0.2fr 1fr 0.2fr 1fr;
    grid-template-areas:
      "."
      "kiButtons"
      "."
      "next";
  } */
  .Ships {
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    align-items: center;

    justify-self: center;
    align-self: center;
    grid-template-areas:
      "s xl"
      ". ."
      "m l";
    grid-area: Ships;
  }
  .next {
    grid-area: next;
    display: flex;
    align-self: center;
    align-content: center;
    justify-self: center;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
  }
  .Grid,
  .Grid2 {
    width: 60vw;
  height: auto;
  }

  .LogoDiv {
    /* justify-self: center;
    width: auto;
    max-width: 200px; */
  }
}
