.main {
    position: absolute;
    /* oder fixed, je nachdem was Sie benötigen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firework,
.texts {
    margin: 10px;
    /* Abstand zwischen den Divs und zum Rand von div1 */
    text-align: center;
}

.texts {
    color: white;
    text-align: center;
}

.winText{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.congrats{
    margin-bottom: 2vh;
}


.backButton {
    background-color: rgb(187, 187, 187);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 120px;
}