.verificationContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "imageContainer signIn";
    min-width: 100vw !important;
    min-height: 100vh !important;
    overflow: hidden !important;
    padding-left: 0% !important;
  }
  
  .verificationImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    align-items: center;
    background-color: rgb(47, 75, 88);
  }
  
  .verificationTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    overflow-y: auto !important;
    margin-left: 4vw;
    padding-right: 4vw;
    color: rgb(52, 46, 46);
    text-wrap: wrap;
  }

  .verificationTitle{
    font-weight: 500;
    margin-bottom: 2vh;
  }

  .verificationText{
    font-weight: 200;
  }

  .verificationButton {
    min-width: 10vw;
    min-height: 4vh;
    border-radius: 5px;
    border: none;
    /* background-color:rgb(64, 86, 255); */
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2%;
    text-decoration: underline;
  }

  .verificationButton:hover {
    background-color: rgb(167, 157, 157);
  }
  
  
  @media screen and (max-width: 900px) { 
    
    /* .verificationContainer {
      grid-template-columns: 1fr; 
      grid-template-rows: repeat(2, 1fr);
      background-color: rgb(47, 75, 88);
    }
  
    .verificationImageContainer {
      justify-self: center;
      align-self: center;
    }
    .verificationImage {
      max-width: 100%;
      object-fit: scale-down;
    }
    .verificationTextContainer {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: stretch;
      min-width: 100%;
      min-height: 100vh;
      margin-top: 15%;
      overflow-y: auto !important;
    } */
  }